<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>product management</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class = "container mt-2">
		<h1 class = "bg-danger text-white p-1 rounded text-center">Product Management System</h1>
		
		<div class = "row mt-4">
			<div class = "col-md-6 col-12 mx-auto">
				<div class = "card p-2">
					<h3 class = "bg-success text-white p-1 rounded text-center">Update product</h3>
					
					<form method="post" action = "#" th:action="@{/save}" th:object="${product}">
					
					 <div class="form-group">
					    <label for="name">ID</label>
					    <input type="text" class="form-control" th:field="*{id}" readonly="readonly">
					 </div>
					
					  <div class="form-group">
					    <label for="name">Name</label>
					    <input type="text" class="form-control" th:field="*{name}">
					 </div>
					 
					 <div class="form-group">
					    <label for="model">Brand</label>
					    <input type="text" class="form-control" th:field="*{model}">
					 </div>
					 
					 <div class="form-group">
					    <label for="madein">Made in</label>
					    <input type="text" class="form-control" th:field="*{madein}">
					 </div>
					 
					 <div class="form-group">
					    <label for="price">Price</label>
					    <input type="text" class="form-control" th:field="*{price}">
					 </div>
					 
					 <div class="text-center">
					   <button type="submit" class="btn btn-primary">update</button>
					 </div>
					  
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>